body{
    color: #3c3b3b;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
#header-row{
    min-height: 7vh;
    background-color: grey;
    margin-bottom: 30px;
}
#projects-container{
    border-right: 2px solid #959595;
    min-height:83vh;
}
#links{
    padding-bottom: 15px;
    border-bottom: 1px solid #c0c0c0;
}
#links > div {
    margin-bottom:5px;
}
#add-project{
    padding-top:15px;
}
.edit-project,
.edit-task,
.delete-project,
.delete-task,
.done-task,
.add-project{
    border-radius: 12px;
}
.btn.dropdown-toggle-split{
    background-color: transparent;
    border: none;
    color: #cacaca;
}
.update-btn,
.cancel-btn{
    border-radius: 15px;
}
.dropdown-menu{
    padding:0 !important;
    min-width: 0;
}
.project-badge{
    width:16px;
    height: 16px;
    border: 1px solid darkgray;
    border-radius:8px;
    margin-right: 1rem;
}
#project-form{
    padding-top: 0.5rem;
    padding-bottom: 0.2rem;
}
#task-form{
    padding-top: 1.5rem;
    padding-bottom: 0.2rem;
}
.project-badge-small{
    width:10px;
    height: 10px;
    border: 1px solid darkgray;
    border-radius:50px;
    margin-right: 1rem;
}

.dropdown-menu.show{
    display: inherit !important;
    top: 2px !important;
    background-color: transparent;
    border: none;
}
li.list-group-item.custom-list-group-item{
    padding: .2rem 1.25rem !important;
}
.tasks-cnt, .task-deadline{
    font-style: italic;
    color: #c0c0c0;
}
.tasks-cnt{
    font-size: 12px;
}
.task-deadline{
    font-size:12px;
}
.doned{
    color: green;
}
.warning{
    color: orange;
}
.row.burning{
    background-color: #ffa4a4;
}
.task-deadline.burning,
.tasks-cnt.burning,
 .burning div button i{
    color: red;

}
.task-badge{
    width: 20px;
    height: 20px;
    border: 2px solid darkgrey;
}
.tasks-project{
    padding-right: 0;
    font-size: 11px;
    color: #a0a0a0;
    font-style: italic;
}
.task-title, .task-deadline{
    margin-bottom:0;
}
.all-tasks-title{
    margin-bottom:30px;
}
.all-tasks-container{
    padding: 15px 0;
    margin-top: 0;
}
.all-tasks-container{
    border-bottom: 1px solid #959595;
    border-radius: 20px;
}
.disabled{
    opacity: 0.5;
    background-color: darkgray;
    color: white !important;
}
.selected-project{
    background-color: #cdf6c5;
}
.add-task,
.modal-btn,
#links .btn,
#logout .btn,
#burning-task-button,
#finished-task-button {
    border-radius:15px;
}
.auth-btn{
    border-radius:20px;
    margin:0 30px;
}
.single-content{
    margin-top: 30vh;
}
.btn{
    white-space: normal !important;
}
.btn:focus {
    box-shadow: none;
}
.edit-project,
.edit-task{
    background-color:#77765c;
}
.delete-project,
.delete-task{
    background-color:#775c5c;
}
.done-task{
    background-color:#2d773a;
}
