{% extends "index.html" %}

{% block main %}
<div class="col-12 row align-items-center justify-content-center single-content">
            <div class="col-auto"><h1>ToDoooM! Welcome to the ToDoManager!</h1></div>
            <div class="col-auto"><h2>We will help you manage your tasks, promises and deeds!</h2></div>
            <div class=" w-100"></div>
            <div class="col-auto row">
                <form action="" method="post">
                  <div col="col-auto form-group">
                      {% csrf_token %}
                      {{ form.as_p }}
                  </div>
                  <div class="col-auto form-group">
                      <button class='btn btn-success btn-lg auth-btn' type="submit">SignIn</button>
                  </div>

                </form>
            </div>
        </div>

{% endblock %}